<header>
  <nav class="flex items-center justify-between flex-wrap bg-black p-2">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <span class="font-semibold text-xl tracking-tight"><a href="/">IQmovie</a></span>
    </div>
    <label class="block lg:hidden cursor-pointer flex items-center px-3 py-2 border rounded text-white border-white hover:bg-red-600 hover:border-white" for="menu-toggle"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg></label>
    <input class="hidden" type="checkbox" id="menu-toggle" />
    <div class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto" id="menu">
      <div class="text-sm lg:flex-grow">
        <%= link_to "Home", root_path, class: "block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-red-600 mr-4" %>
          <a href="/movies" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-red-600 mr-4">
          My list
        </a>
        <a href="/movies/new" class="block mt-4 lg:inline-block lg:mt-0 text-white hover:bg-red-600">
          Add movie
        </a>
      </div>
      <div class="text-sm lg:flex-grow">
        <%= form_tag(movieshows_search_path, method: "get") do %>
          <%= text_field_tag(:query, nil, placeholder: "Search Movies", :autocomplete => :off, id: "ip-input", class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mt-4") %>
          <%= submit_tag("Search in IQmovie", class: "bg-white hover:bg-red-600 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4") %> 
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to "Sign off", destroy_user_session_path, method: :delete, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:bg-red-600 hover:bg-red-600 hover:bg-white mt-4 lg:mt-0" %>
        <%else%>
          <%= link_to "Log in", new_user_session_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:bg-red-600 hover:bg-red-600 hover:bg-white mt-4 lg:mt-0" %>
          <%= link_to "Create Account", new_user_registration_path, class: "inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:bg-red-600 hover:bg-red-600 hover:bg-white mt-4 lg:mt-0" %>
        <%end%>
      </div>
    </div>
  </nav>
</header>